.trophyCaseTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.titleIcon {
	height: 0.875em;
	margin-right: 0.35em;
	position: relative;
	top: 0.025em;
}

.trophyCountPill {
	margin-left: 0.825em;

	/* Pill background */
	padding: 0.2875rem 0.5rem;
	border-radius: 999px;
	background-color: var(--surface);

	font-size: 0.625em;
	font-variant-numeric: tabular-nums;
	font-weight: bold;
	color: var(--text-primary);

	position: relative;
	top: 0.05em;
}

.trophyCountSlash {
	margin-inline: 0.375em;
}
