.trophyCaseTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.titleIcon {
	height: 0.875em;
	margin-right: 0.35em;
	position: relative;
	top: 0.025em;
}
